@model Bowler
<h1>Add or Edit Bowler</h1>
<br /><br />
<div class="text-center form-group">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="BowlerFirstName">First Name</label>
            <input class="form-control-sm" asp-for="BowlerFirstName" /><br />
        </div>
        <div class="form-group">
            <label asp-for="BowlerMiddleInit">Middle Initial</label>
            <input class="form-control-sm" asp-for="BowlerMiddleInit" maxlength="1"/><br />
        </div>
        <div class="form-group">
            <label asp-for="BowlerLastName">Last Name</label>
            <input class="form-control-sm" asp-for="BowlerLastName" /><br />
        </div>
        <div class="form-group">
            <label asp-for="BowlerAddress">Address</label>
            <input class="form-control-sm" asp-for="BowlerAddress" /><br />
        </div>
        <div class="form-group">
            <label asp-for="BowlerCity">City</label>
            <input class="form-control-sm" asp-for="BowlerCity" /><br />
        </div>
        <div class="form-group">
            <label asp-for="BowlerState">State</label>
            <input class="form-control-sm" asp-for="BowlerState" maxlength="2"/><br />
        </div>
        <div class="form-group">
            <label asp-for="BowlerZip">ZIP</label>
            <input class="form-control-sm" asp-for="BowlerZip" /><br />
        </div>
        <div class="form-group">
            <label asp-for="BowlerPhoneNumber">Phone Numer</label>
            <input class="form-control-sm" asp-for="BowlerPhoneNumber" /><br />
        </div>
        <div class="form-group">
            <label asp-for="Team">Team</label>
            <select class="form-control-sm" asp-for="TeamID">
                <option value="" disabled selected>Select a Team:</option>
                <option value="">None</option>
                @foreach (Team t in ViewBag.TeamsList)
                {
                    <option value="@t.TeamID">@t.TeamName</option>
                }
            </select>
            <br />
            <input type="hidden" asp-for="BowlerID" />
        </div>
        <div class="form-group">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger float-left m-1">Cancel</a>
            <button type="submit" class="btn btn-outline-success float-left m-1">Save</button>
        </div>
    </form>
</div>
